{% extends 'base.html' %}

{% block title %}
    Edit Note
{% endblock title %}

{% block contents %}
    {% for each in data %}
    <div class="container" style="display: flex;">
        <div style="flex: 1; background: lightgray; margin: 10px; padding: 20px;">
            <h1>Current Note</h1>
            <h3>Title</h3>
            <p>{{ each[1] }}</p>

            <h3>Subtitle</h3>
            <p>{{ each[2] }}</p>

            <h3>Description</h3>
            <p>{{ each[3] }}</p>
        </div>
        
        <div style="flex: 1; background: lightgreen; margin: 10px; padding: 20px; text-align: center;">
            <h1>Update Note</h1>
            <form action="{{ url_for('update_note', key=each[0]) }}" method="POST">
                <div class="mb-3">
                    <label for="title" class="form-label" >Title</label>
                    <input type="text" id="title" name="title" class="form-control">
                </div>
    
                <div class="mb-3">
                    <label for="subtitle" class="form-label">Subtitle</label>
                    <input type="text" id="subtitle" name="subtitle" class="form-control">
                </div>
    
                <div class="mb-3">
                    <label for="body" class="form-label">Body</label>
                    <input type="textarea" id="body" name="body" class="form-control">
                 </div>
                <input type="submit" value="Update Note" class="btn btn-primary">
            </form>
        </div>
    </div>
    
    {% endfor %}
{% endblock contents %}
